* {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.correct-color {
  border: 0.188rem solid rgb(6, 240, 15);
}

.wrong-color {
  border: 0.188rem solid red;
}

.divButtons {
  margin: 10px;
}

.all {
  background-color: black;
  color: white;
}
